{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static "css/catalogoo.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'venta' %}">Paraiso Rangel</a></li>
        </ul>
        <ul>
            <li><a href="{% url 'venta' %}">Venta</a>
                <ul>
                    <li><a href="{% url 'venta' %}">Realizar venta</a></li>
                    <li><a href="{% url 'ventas' %}">Ventas realizadas</a></li>
                </ul>
            </li>
            <li><a href="">Inventario</a>
                <ul>
                    <li><a href="{% url 'administrarProductos' %}">Agregar inventario</a></li>
                    <li><a href="{% url 'catalogo' %}">Ver inventario</a></li>
                </ul>
            </li>
            <li><a href="">Perfil</a>
                <ul>
                    <li><a href="">Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="filtrar">
        <div>
            <label id="buscarcolor">Buscar:</label>
            <input type="text" id="buscar" oninput="filtrarProductos()">
        </div>
        <div>
            <label>Sucursal:</label>
            <select id="sucursalSelect">
                <option value="all">Todas las Sucursales</option>
            </select>
        </div>
    </div>

    <div id="productosContainer"></div>

    <hr>
    <br>

    <!-- Modal -->
    <div class="modal fade" id="modal-detalles" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Detalles del producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="detallesGlobal">
                        <div id="detalles">
                            <div>
                                <img id="imgModal">
                                <div id="texto">
                                    <h2 id="nombreModal">Nombre del producto</h2>
                                    <label id="idModal">ID: #</label>
                                    <label id="stockModal">Stock: #####</label>
                                </div>
                            </div>
                            <div id="descripcionModal">
                                <label>Descripcion general del producto.</label>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const staticBaseUrl = "{% static '' %}";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static 'js/catalogo.js' %}"></script>
</body>
</html>