/* Botones de búsqueda y resetear */
#search-button,
#reset-button {
    background-color: #007bff; /* Azul para igualar estilo */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#search-button:hover,
#reset-button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el cursor */
}

#search-button:active,
#reset-button:active {
    background-color: #003f7f; /* Azul aún más oscuro al hacer clic */
}

/* Centrar elementos del formulario */
form.d-flex {
    justify-content: center;
}

form input#search-input {
    max-width: 400px;
}
