.main-content {
    width: 25%; /* Ajusta el ancho */
    height: 30%; /* Ajusta la altura para que sea cuadrado */
    border-radius: 20px; /* Bordes completamente redondeados */
    box-shadow: 0 8px 15px rgba(0,0,0,.3); /* Sombra más suave y sutil */
    margin: 2em auto; /* Margen centrado */
    background-color: #4CAF50; /* Color verde más atractivo */
    padding: 2em; /* Padding para un diseño más limpio */
    position: relative; /* Posicionamiento relativo para mayor control */
}

.company__info {
    display: none; /* Mantiene oculta la sección de información de la compañía */
}

.login_form {
    background-color: #fff;
    border-radius: 20px; /* Bordes completamente redondeados */
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em; /* Padding más pequeño para ajustarse al tamaño reducido */
    height: 100%; /* Asegura que el formulario ocupe toda la altura del contenedor */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__input {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 50px; /* Bordes redondeados completos */
    padding: 0.75em 1.5em; /* Espacio interno ajustado */
    margin: 1em 0;
    outline: none;
    transition: all 0.3s ease;
    position: relative;
}

.form__input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(0,80,80,0.5); 
}

.form__input::before {
    content: attr(data-icon);
    font-family: FontAwesome;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #aaa;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn {
    width: 48%; /* Ajusta el ancho para que los botones quepan juntos */
    border-radius: 50px; /* Bordes completamente redondeados */
    color: #fff;
    background: linear-gradient(to right, #4CAF50, #81C784); /* Color degradado */
    border: none;
    padding: 1em;
    margin: 1em 0;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background: linear-gradient(to right, #388E3C, #66BB6A); /* Color degradado al pasar el ratón */
}

h2 {
    color: #fff;
    margin-bottom: 1.5em;
    font-size: 1.8em;
}

