<!-- shipments/templates/shipments/order_create.html -->
{% extends "base_generic.html" %}

{% block content %}
  <h2>Crear nuevo pedido</h2>
  <form method="post">
    {% csrf_token %}
    <label for="product">Producto:</label>
    <input type="text" name="product" id="product" required><br>

    <label for="customer_name">Nombre del Cliente:</label>
    <input type="text" name="customer_name" id="customer_name" required><br>

    <label for="delivery_address">Dirección de Entrega:</label>
    <input type="text" name="delivery_address" id="delivery_address" required><br>

    <button type="submit">Crear Pedido</button>
  </form>
{% endblock %}
