<!-- shipments/templates/shipments/order_list.html -->
{% extends "base_generic.html" %}

{% block content %}
  <h2>Lista de Pedidos</h2>
  <a href="{% url 'order_create' %}">Crear nuevo pedido</a>
  <ul>
    {% for order in orders %}
      <li>
        <a href="{% url 'order_detail' order.id %}">Pedido #{{ order.id }} - {{ order.product }}</a>
        <br>
        <!-- Enlace para ver la ruta de cada pedido -->
        <a href="{% url 'route_detail' order.id %}" style="color: green; text-decoration: underline;">Ver ruta de entrega</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
