<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Mi Changarrito</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'inventory/css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <img src="{% static 'img/user_icon.png' %}" alt="user icon">
        <h1>El Almacén "Mi Changarrito"</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-field">
                <label for="username">Usuario</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-field">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn">Iniciar Sesión</button>
        </form>
    </div>
</body>
</html>
