<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Mi Changarrito</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'inventory/css/ver_productos.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Productos</h2>
        <div class="tabs">
            <a href="{% url 'product_form' %}">Agregar</a>
            <a href="{% url 'editar_producto' %}">Editar</a>
            <a href="{% url 'eliminar_producto' %}">Eliminar</a>
            <a href="{% url 'ventas' %}">Ventas</a>
            <a href="{% url 'pedidos' %}">Pedidos</a>
            <a href="{% url 'ver_productos' %}" class="active">Productos</a>
        </div>

        <!-- Barra de búsqueda -->
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Buscar por código o nombre...">
            <button id="search-button">Buscar</button>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th>Código del Producto</th>
                    <th>Nombre del Producto</th>
                    <th>Proveedor</th>
                    <th>Categoría</th>
                    <th>Cantidad por Unidad</th>
                    <th>Precio Unitario</th>
                    <th>Unidades en Existencia</th>
                    <th>Unidades en Pedido</th>
                    <th>Nivel de Reorden</th>
                    <th>Almacén</th>
                    <th>Ubicación del Almacén</th> <!-- Nueva columna -->
                    <th>Estante</th>
                    <th>Lugar</th>
                </tr>
            </thead>
            <tbody id="productos-list">
                <!-- Los productos se cargarán aquí mediante AJAX -->
            </tbody>
        </table>

        <a href="{% url 'product_form' %}" class="add-product">+</a>
    </div>

    <!-- Enlace al archivo JavaScript -->
    <script src="{% static 'inventory/js/productos.js' %}"></script>
</body>
</html>
