<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Support{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'crm/content/bootstrap/bootstrap.min.css' %}">
</head>
<body>
    
    {% include "crm/navbar.html" %}

    {% block content %}
    {% endblock %}

    <script src="{% static 'crm/scripts/bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
