{% extends 'crm/base.html' %}

{% block content %}
<div class="container mt-5">
    {% if editing %}
        <h2>Editar Ticket</h2>
    {% else %}
        <h2>Crear Nuevo Ticket</h2>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">
            {% if editing %}Guardar Cambios{% else %}Crear Ticket{% endif %}
        </button>
        <a href="{% url 'allTickets' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}